*{

  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{

  font-size:62.5%;
  /* Convertimos el tamaño a 10px porque 1 rem es igual a 10px */
  /* Se coloca 62.5% para que en cualquier navegador se pueda usar como equivalente y que no todsas las personas puedan moverle a nuestras medidas, estas que necesitamos */
  
  @include respond(tab-land){
      font-size:56.25%; // 1 rem = 9px 9/16 = 56%
  }
  @include respond(tab-port){
      font-size:50%; // 1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop){
      font-size:75%; // 1 rem = 12, 12/ 16;
  }
}
body{
  box-sizing: border-box;
  padding:3rem;
  @include respond(tab-port){
      padding:0;
  }
}